@import "https://fonts.google.com/specimen/Poppins";
@import "tailwindcss";

@theme{
  --font-poppins: "Poppins", sans-serif;

  --color-red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --gray-500: hsl(234, 12%, 34%);
  --gray-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
  
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  min-height: 100vh;
  font-size: 15px;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}