@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme{
  --font-poppins: "Poppins", sans-serif;

  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-gray-500: hsl(234, 12%, 34%);
  --color-gray-400: hsl(212, 6%, 44%);
  --color-white: hsl(0, 0%, 100%);
  
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  min-height: 100vh;
  font-size: 15px;
  font-family: "Poppins";
  background-color: rgba(245, 245, 250, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}